<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <div id="wrapper" class="
    bg-white rounded-md
    border-gray-400 border-solid border-4">
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/navigation.ejs") %>

    <main>
      <%- body %>
    </main>

    <%- include("../partials/footer.ejs") %>
  </div> 
</body>
</html>