<script src="/js/inv-update.js" defer></script>

<% if (title) { %>
  <h1 class="text-2xl mb-2"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="page-errors mb-2">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<% }); %>
 </ul>
<% } %>

<form action="/inv/update" id="update-form" method="post" class="bg-green-200 p-8 text-center form-layout">
  <div class="grid mb-8 text-left grid-cols-1 gap-2 md:grid-cols-2 md:gap-4">
    <label>
      Classification:
      <%- include('../partials/classification-select', { classifications: classifications, classification_id: locals.classification_id }) %>
    </label>
    <label>
      Make:
      <input type="text" name="inv_make" value="<%= locals.inv_make %>" required>
    </label>
    <label>
      Model:
      <input type="text" name="inv_model" value="<%= locals.inv_model %>" required>
    </label>
    <label>
      Year:
      <input type="text" name="inv_year" value="<%= locals.inv_year %>" required>
    </label>
    <label>
      Description:
      <textarea name="inv_description" required><%= locals.inv_description %></textarea>
    </label>
    <label>
      Image:
      <input type="text" name="inv_image" value="<%= locals.inv_image ?? '/images/vehicles/no-image.png' %>" required>
    </label>
    <label>
      Thumbnail:
      <input type="text" name="inv_thumbnail" value="<%= locals.inv_thumbnail ?? '/images/vehicles/no-image-tn.png' %>" required>
    </label>
    <label>
      Price:
      <input type="number" name="inv_price" value="<%= locals.inv_price %>" required>
    </label>
    <label>
      Miles:
      <input type="number" name="inv_miles" value="<%= locals.inv_miles %>" required>
    </label>
    <label>
      Color:
      <input type="text" name="inv_color" value="<%= locals.inv_color %>" required>
    </label>

    <input type="hidden" name="inv_id"
      <% if(locals.inv_id) { %> 
        value="<%= locals.inv_id %>"
      <% } %>>

  </div>
  <button type="submit" disabled class="bg-green-800 text-white py-2 px-4 rounded">Save Changes</button>
</form>